<html>
    <head>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <title>UKB Explorer</title>        
    </head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    
    <body>
    	<div id='explore'>
    	<div class="tab">
		  <button class="tablinks" onclick="openTab(event, 'tab-tree')">Tree</button>
		  <button class="tablinks" onclick="openTab(event, 'tab-search')">Search</button>
		</div>
    	
    	
    	<div id='tab-tree' class='tabcontent'>
        {{ tree }}
        </div>
        <div id='tab-search' class='tabcontent'>
		    <input class='search-bar 'type='text' ></input>
		    <button type="button" class="search-button">Search</button>
		    <div id='search-results'></div>
        </div>
        </div>
        <div id="selected-summary"></div>
        
        <div id="field-list">
        	<div id="flist"></div>
        	<br>
        	<div class="iobutton" id="clear_flist">Clear List</div>
        	<a id="downlink" target="_blank" download="output.csv"><div class="iobutton" id="download_flist">Download Selected</div></a>
        	<div id="search-results"></div>
        </div>
    </body>
    
    <script type="text/javascript" src="{{ url_for('static',filename='scripts.js') }}"></script>
  
</html>
